VITE_FIREBASE_KEY= "AIzaSyDGVtTkVKS-_dNcOu6Ia1JR55tYeHAYbdQ"

VITE_AUTH_DOMAIN= "mern-ecommerce-d2879.firebaseapp.com"

VITE_PROJECT_ID= "mern-ecommerce-d2879"

VITE_STORAGE_BUCKET="mern-ecommerce-d2879.firebasestorage.app"

VITE_MESSAGING_SENDER_ID= "251091950600"

VITE_APP_ID="1:251091950600:web:d8b4e2b9ac73c27a7485bd"

VITE_SERVER=http://localhost:4000

VITE_STRIPE_KEY='Stripe Publishable Key'

