# Backend API Base URL
VITE_SERVER=http://localhost:4000
NEXT_PUBLIC_SERVER=http://localhost:4000

# Stripe Publishable Key (e.g. pk_test_...)
VITE_STRIPE_KEY='Stripe Publishable Key'
NEXT_PUBLIC_STRIPE_KEY='Stripe Publishable Key'

# Firebase Web App Config
VITE_FIREBASE_KEY="AIzaSyDGVtTkVKS-_dNcOu6Ia1JR55tYeHAYbdQ"
NEXT_PUBLIC_FIREBASE_KEY="AIzaSyDGVtTkVKS-_dNcOu6Ia1JR55tYeHAYbdQ"

VITE_AUTH_DOMAIN="mern-ecommerce-d2879.firebaseapp.com"
NEXT_PUBLIC_AUTH_DOMAIN="mern-ecommerce-d2879.firebaseapp.com"

VITE_PROJECT_ID="mern-ecommerce-d2879"
NEXT_PUBLIC_PROJECT_ID="mern-ecommerce-d2879"

VITE_STORAGE_BUCKET="mern-ecommerce-d2879.firebasestorage.app"
NEXT_PUBLIC_STORAGE_BUCKET="mern-ecommerce-d2879.firebasestorage.app"

VITE_MESSAGING_SENDER_ID="251091950600"
NEXT_PUBLIC_MESSAGING_SENDER_ID="251091950600"

VITE_APP_ID="1:251091950600:web:d8b4e2b9ac73c27a7485bd"
NEXT_PUBLIC_APP_ID="1:251091950600:web:d8b4e2b9ac73c27a7485bd"
