

PORT=4000

MONGO_URI=mongodb+srv://nagendraswsa_db_user:Monu123@cluster0.nkrtc1r.mongodb.net/?appName=Cluster0

REDIS_URI= rediss://default:gQAAAAAABE6uAAIgcDI5MDUxN2RjYjFiOGI0MmUyYjY2OWFhYzQxYmI1MTkzOA@smooth-locust-282286.upstash.io:6379

STRIPE_KEY=sk_test_51UEnTAFoM8oCfAZvCzkrmvr2jRqmqTMPaGS7b5kBR5KcJebdQEaJvQJX9GSyqDVMOuFhjPXOfLrNu3w2XpqXVf5300s0HPyJYU

CLOUD_NAME= v69muvqf
CLOUD_API_KEY= 438967911283521
CLOUD_API_SECRET= TOTOtm2stm0idzpihK65ic8Ud28

CLIENT_URL= http://localhost:5173/